body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Roboto", arial;
}

.container {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*navbar*/
.navbar {
  display: flex;
  color: #f9faf8;
  background-color: #1f2937;
  padding: 20px 0px 20px 100px;
  align-items: center;
}

.header-logo img {
  width: 84px;
  height: 84px;
  margin-right: auto;
}

.header-link {
  display: flex;
  margin-left: auto;
  padding: 0px 100px 0px 0px;
}

.header-link a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding: 10px;
  font-family: "Roboto", arial;
}

/*end navbar*/
/*hero*/

.hero {
  display: flex;
  color: #f9faf8;
  background-color: #1f2937;
  align-items: center;
  justify-content: center;
  padding: 90px;
}

.hero-cta {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
}

.hero-cta p {
  font-family: "Roboto", arial;
  opacity: 0.7;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 0;
  font-family: "Roboto", arial;
}
.hero button {
  display: block;
  text-align: center;
  width: 110px;
  border: none;
  background: #3882f6;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-family: "Roboto", arial;
  text-decoration: none;
  font-weight: bold;
}

.hero-image img {
  width: 500px;
  height: 350px;
}

/*end hero*/
/*the tree photos with information*/

.content h2 {
  color: hsl(348, 52%, 38%);
  margin-bottom: 3rem;
}

.content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.randomInfoBox {
  width: 170px;
  height: 170px;
  border-radius: 7px;
}

.content-info {
  display: flex;
  gap: 2rem;
  display: flex;
  justify-content: center;
}

.randomInfo li {
  color: hsl(0, 0%, 38%);
}

.randomInfo {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 170px;
  text-align: center;
}

#box1 {
  background-color: hsl(201, 100%, 50%);
}

#box2 {
  background-color: hsl(259, 100%, 50%);
}

#box3 {
  background-color: hsl(277, 100%, 50%);
}

#box4 {
  background-color: hsl(297, 100%, 50%);
}
/*end of the 4 boxes*/
/*start of quote part*/

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 0 200px;
}

.quote p {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
  font-family: "Roboto", arial;
}

.quote b {
  padding-bottom: 20px;
  padding-right: 10px;
  font-family: "Roboto", arial;
  text-align: right;
}
/*end of the quote part*/
/* start of sign up part*/
.sign-up {
  background-color: #3882f6;
  margin: 50px 200px;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border-color: none;
}

.sign-item {
  flex: 1;
}

.signs-text {
  text-align: left;
}

.signs-text p {
  color: #fff;
  opacity: 0.7;
  margin: 5px 30px 30px 50px;
}

h3 {
  color: #fff;
  font-family: "Roboto", arial;
  padding: 0;
  margin: 30px 0px 0px 50px;
}

.signs-button button {
  color: #fff;
  font-family: "Roboto", arial;
  border-color: #fff;
  border-radius: 8px;
  background-color: #3882f6;
  padding: 5px 25px;
  font-size: 15px;
}

/* Footer */

.footer {
  background-color: #1f2937;
  color: #fff;
  font-family: "Roboto", arial;
}
